<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="lp-version" content="v6.8.22">
  <!--e9bef28d-6c7f-40bc-a60b-fc0cd1e5cb0e a-->
  <title>Apply For Me</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style title="page-styles" type="text/css" data-page-type="main_desktop">
    body { color:#000; }
    a {
      color:#0000ff;
      text-decoration:none;
    }
    #lp-pom-text-11 {
      left:0px;
      top:215px;
      display:block;
      background:rgba(255,255,255,0);
      -pie-background:rgba(255,255,255,0);
      border-style:none;
      behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
      border-radius:0px;
      z-index:9;
      width:474px;
      height:232px;
      position:absolute;
    }
    #lp-pom-box-14 {
      left:574px;
      top:107px;
      display:block;
      background:rgba(255,255,255,0.67);
      -pie-background:rgba(255,255,255,0.67);
      border-style:solid;
      border-width:1px;
      border-color:#ccc;
      behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
      border-radius:0px;
      z-index:2;
      width:344px;
      height:457px;
      position:absolute;
    }
    #lp-pom-root {
      display:block;
      background:rgba(238,238,238,1);
      -pie-background:rgba(238,238,238,1);
      border-style:none;
      margin:auto;
      padding-top:0px;
      behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
      border-radius:0px;
      min-width:920px;
      height:1254px;
    }
    #lp-pom-block-8 {
      display:block;
      background:rgba(255,255,255,0);
      background-image:url(//d9hhrg4mnvzow.cloudfront.net/www.applyfor.me/87edd99f-allher-hero-image-original.jpg);
      background-repeat:no-repeat;
      background-position:center center;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size:cover;
      -ms-behavior:url(//d9hhrg4mnvzow.cloudfront.net/backgroundsize.min.htc);
      behavior:url(//d9hhrg4mnvzow.cloudfront.net/backgroundsize.min.htc);
      border-style:none;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:0px;
      border-radius:0px;
      width:100%;
      height:643px;
      position:relative;
    }
    #lp-pom-text-64 {
      display:block;
      background:rgba(255,255,255,0);
      -pie-background:rgba(255,255,255,0);
      border-style:none;
      behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
      border-radius:0px;
      left:24px;
      top:46px;
      z-index:5;
      width:278px;
      height:78px;
      position:absolute;
    }
    #lp-pom-text-121 {
      display:block;
      background:rgba(255,255,255,0);
      -pie-background:rgba(255,255,255,0);
      border-style:none;
      behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
      border-radius:0px;
      left:35px;
      top:38px;
      z-index:10;
      width:161px;
      height:22px;
      position:absolute;
    }
    #lp-pom-button-13 {
      display:block;
      border-style:none;
      behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
      border-radius:42px;
      left:0px;
      top:230px;
      z-index:4;
      width:296px;
      height:45px;
      position:absolute;
      background:rgba(0,186,242,1);
      -pie-background:rgba(0,186,242,1);
      box-shadow:none;
      text-shadow:none;
      color:#fff;
      border-width:undefinedpx;
      border-color:#undefined;
      font-size:16px;
      line-height:19px;
      font-weight:400;
      font-family:Montserrat;
      font-style:normal;
      text-align:center;
      background-repeat:no-repeat;
    }
    #lp-pom-block-15 {
      display:block;
      background:rgba(229,229,229,1);
      -pie-background:rgba(229,229,229,1);
      border-style:none;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:0px;
      behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
      border-radius:0px;
      width:100%;
      height:100px;
      position:relative;
    }
    #lp-pom-text-52 {
      display:block;
      background:rgba(255,255,255,0);
      -pie-background:rgba(255,255,255,0);
      border-style:none;
      behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
      border-radius:0px;
      left:259px;
      top:681.3333282470703px;
      z-index:8;
      width:402px;
      height:32px;
      position:absolute;
    }
    #lp-pom-block-18 {
      display:block;
      background:rgba(255,255,255,1);
      -pie-background:rgba(255,255,255,1);
      border-style:none;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:0px;
      behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
      border-radius:0px;
      width:100%;
      height:511px;
      position:relative;
    }
    #lp-pom-text-48 {
      display:block;
      background:rgba(255,255,255,0);
      -pie-background:rgba(255,255,255,0);
      border-style:none;
      behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
      border-radius:0px;
      left:24px;
      top:999px;
      z-index:7;
      width:195px;
      height:110px;
      position:absolute;
    }
    #lp-pom-text-50 {
      display:block;
      background:rgba(255,255,255,0);
      -pie-background:rgba(255,255,255,0);
      border-style:none;
      behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
      border-radius:0px;
      left:362px;
      top:999px;
      z-index:6;
      width:195px;
      height:154px;
      position:absolute;
    }
    #lp-pom-text-51 {
      display:block;
      background:rgba(255,255,255,0);
      -pie-background:rgba(255,255,255,0);
      border-style:none;
      behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
      border-radius:0px;
      left:700px;
      top:999px;
      z-index:1;
      width:195px;
      height:66px;
      position:absolute;
    }
    #lp-pom-image-122 {
      display:block;
      background:rgba(255,255,255,0);
      -pie-background:rgba(255,255,255,0);
      left:390.5px;
      top:841px;
      z-index:11;
      position:absolute;
    }
    #lp-pom-image-123 {
      display:block;
      background:rgba(255,255,255,0);
      -pie-background:rgba(255,255,255,0);
      left:718px;
      top:841px;
      z-index:12;
      position:absolute;
    }
    #lp-pom-image-124 {
      display:block;
      background:rgba(255,255,255,0);
      -pie-background:rgba(255,255,255,0);
      left:58px;
      top:853px;
      z-index:13;
      position:absolute;
    }
    #lp-pom-image-126 {
      display:none;
      background:rgba(255,255,255,0);
      -pie-background:rgba(255,255,255,0);
      left:10px;
      top:753px;
      z-index:14;
      position:absolute;
    }
    #lp-pom-text-127 {
      display:block;
      background:rgba(255,255,255,0);
      -pie-background:rgba(255,255,255,0);
      border-style:none;
      behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
      border-radius:0px;
      left:283px;
      top:1215.3690032958984px;
      z-index:15;
      width:354px;
      height:22px;
      position:absolute;
    }
    #lp-pom-root .lp-positioned-content {
      top:0px;
      width:920px;
      margin-left:-460px;
    }
    #lp-pom-block-8 .lp-pom-block-content {
      margin-left:auto;
      margin-right:auto;
      width:920px;
      height:643px;
    }
    #container_industry {
      position:absolute;
      top:0px;
      left:0px;
      width:296px;
      height:56px;
    }
    .lp-pom-form-field .ub-input-item.single.form_elem_industry {
      position:absolute;
      top:22px;
      left:0px;
      width:296px;
      height:34px;
    }
    #label_industry {
      position:absolute;
      top:0px;
      left:0px;
      width:296px;
      height:18px;
    }
    #container_education {
      position:absolute;
      top:71px;
      left:0px;
      width:296px;
      height:56px;
    }
    .lp-pom-form-field .ub-input-item.single.form_elem_education {
      position:absolute;
      top:22px;
      left:0px;
      width:296px;
      height:34px;
    }
    #label_education {
      position:absolute;
      top:0px;
      left:0px;
      width:296px;
      height:18px;
    }
    #container_email {
      position:absolute;
      top:142px;
      left:0px;
      width:296px;
      height:56px;
    }
    .lp-pom-form-field .ub-input-item.single.form_elem_email {
      position:absolute;
      top:22px;
      left:0px;
      width:296px;
      height:34px;
    }
    #label_email {
      position:absolute;
      top:0px;
      left:0px;
      width:296px;
      height:18px;
    }
    #lp-pom-button-13:hover {
      background:rgba(0,169,230,1);
      -pie-background:rgba(0,169,230,1);
      box-shadow:none;
      color:#fff;
    }
    #lp-pom-button-13:active {
      background:rgba(0,156,218,1);
      -pie-background:rgba(0,156,218,1);
      box-shadow:none;
      color:#fff;
    }
    #lp-pom-button-13 .label { margin-top:-10px; }
    #lp-pom-block-15 .lp-pom-block-content {
      margin-left:auto;
      margin-right:auto;
      width:920px;
      height:100px;
    }
    #lp-pom-block-18 .lp-pom-block-content {
      margin-left:auto;
      margin-right:auto;
      width:920px;
      height:511px;
    }
    #lp-pom-image-122 .lp-pom-image-container {
      border-style:none;
      behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
      border-radius:0px;
      width:139px;
      height:138px;
    }
    #lp-pom-image-122 .lp-pom-image-container img {
      width:139px;
      height:138px;
    }
    #lp-pom-image-123 .lp-pom-image-container {
      border-style:none;
      behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
      border-radius:0px;
      width:153px;
      height:151px;
    }
    #lp-pom-image-123 .lp-pom-image-container img {
      width:153px;
      height:151px;
    }
    #lp-pom-image-124 .lp-pom-image-container {
      border-style:none;
      behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
      border-radius:0px;
      width:128px;
      height:128px;
    }
    #lp-pom-image-124 .lp-pom-image-container img {
      width:128px;
      height:128px;
    }
    #lp-pom-image-126 .lp-pom-image-container {
      border-style:none;
      behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
      border-radius:0px;
      width:153px;
      height:151px;
    }
    #lp-pom-image-126 .lp-pom-image-container img {
      width:153px;
      height:151px;
    }
    #lp-pom-root-color-overlay {
      position:absolute;
      background:none;
      top:0;
      width:100%;
      height:1254px;
      min-height:100%;
    }
    #lp-pom-block-8-color-overlay {
      position:absolute;
      background:rgba(255,255,255,0);
      -pie-background:rgba(255,255,255,0);
      behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
      height:643px;
      width:100%;
    }
    #lp-pom-box-14-color-overlay {
      position:absolute;
      background:none;
      height:457px;
      width:344px;
    }
    #lp-pom-block-15-color-overlay {
      position:absolute;
      background:none;
      height:100px;
      width:100%;
    }
    #lp-pom-block-18-color-overlay {
      position:absolute;
      background:none;
      height:511px;
      width:100%;
    }
    #lp-pom-form-12 {
      display:block;
      left:24px;
      top:150px;
      z-index:3;
      width:296px;
      height:183px;
      position:absolute;
    }
    #lp-pom-form-12 .fields { margin:-7.5px; }
    #lp-pom-form-12 .lp-pom-form-field { position:absolute; }
    #lp-pom-form-12 .option { position:absolute; }
    #lp-pom-form-12 .optionsList { position:absolute; }
    #lp-pom-form-12 .lp-pom-form-field .single {
      height:34px;
      font-size:12px;
      line-height:12px;
      padding-left:10px;
      padding-right:10px;
      flex:1;
    }
    #lp-pom-form-12 .lp-pom-form-field select {
      height:33px;
      border-style:none;
    }
    #lp-pom-form-12 .lp-pom-form-field .form_elem_multi {
      padding-top:10px;
      padding-bottom:11px;
    }
    #lp-pom-form-12 .lp-pom-form-field .lp-form-label {
      font-family:Arial,sans-serif;
      font-weight:400;
      font-size:16px;
      line-height:18px;
      color:#5d5d5d;
      display:block;
      margin-bottom:4px;
      width:auto;
      margin-right:0px;
    }
    #lp-pom-form-12 .lp-pom-form-field .lp-form-label .label-style {
      font-weight:bolder;
      font-style:inherit;
    }
    #lp-pom-form-12 .lp-pom-form-field input[type=text] { border-style:none; }
    #lp-pom-form-12 .lp-pom-form-field textarea { border-style:none; }
    #lp-pom-form-12 .lp-pom-form-field .opt-label {
      font-family:Verdana,Geneva,sans-serif;
      font-weight:400;
      font-size:13px;
      color:#000;
      line-height:15px;
    }
    #lp-pom-form-12 .lp-pom-form-field .opt-label .label-style {
      font-weight:inherit;
      font-style:inherit;
    }
    #lp-pom-form-12 .lp-pom-form-field .text {
      background-color:#ffffff;
      color:#000;
      border-radius:20px;
      box-shadow:inset 0px 2px 3px #dddddd;
      -webkit-box-shadow:inset 0px 2px 3px #dddddd;
      -moz-box-shadow:inset 0px 2px 3px #dddddd;
    }
  </style>
  <style title="page-styles" type="text/css" data-page-type="main_mobile">
    @media only screen and (max-width:600px) {
      #lp-pom-root {
        display:block;
        background:rgba(238,238,238,1);
        -pie-background:rgba(238,238,238,1);
        border-style:none;
        margin:auto;
        padding-top:0px;
        behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
        border-radius:0px;
        min-width:320px;
        height:2151px;
      }
      #lp-pom-block-8 {
        display:block;
        background:rgba(255,255,255,0);
        background-image:url(//d9hhrg4mnvzow.cloudfront.net/www.applyfor.me/87edd99f-allher-hero-image-original.jpg);
        background-repeat:no-repeat;
        background-position:center center;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        -ms-behavior:url(//d9hhrg4mnvzow.cloudfront.net/backgroundsize.min.htc);
        behavior:url(//d9hhrg4mnvzow.cloudfront.net/backgroundsize.min.htc);
        border-style:none;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:0px;
        border-radius:0px;
        width:100%;
        height:1007px;
        position:relative;
      }
      #lp-pom-text-11 {
        display:block;
        background:rgba(255,255,255,0);
        -pie-background:rgba(255,255,255,0);
        border-style:none;
        behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
        border-radius:0px;
        left:30px;
        top:92px;
        z-index:9;
        width:283px;
        height:406px;
        transform:scale(0.92);
        transform-origin:0 0;
        -webkit-transform:scale(0.92);
        -webkit-transform-origin:0 0;
        position:absolute;
      }
      #lp-pom-box-14 {
        display:block;
        background:rgba(255,255,255,0.67);
        -pie-background:rgba(255,255,255,0.67);
        border-style:solid;
        border-width:1px;
        border-color:#ccc;
        behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
        border-radius:0px;
        left:28px;
        top:500px;
        z-index:2;
        width:270px;
        height:505px;
        position:absolute;
      }
      #lp-pom-text-64 {
        display:block;
        background:rgba(255,255,255,0);
        -pie-background:rgba(255,255,255,0);
        border-style:none;
        behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
        border-radius:0px;
        left:13px;
        top:35px;
        z-index:5;
        width:278px;
        height:78px;
        transform:scale(0.86);
        transform-origin:0 0;
        -webkit-transform:scale(0.86);
        -webkit-transform-origin:0 0;
        position:absolute;
      }
      #lp-pom-text-121 {
        display:block;
        background:rgba(255,255,255,0);
        -pie-background:rgba(255,255,255,0);
        border-style:none;
        behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
        border-radius:0px;
        left:57px;
        top:12px;
        z-index:10;
        width:188px;
        height:22px;
        position:absolute;
      }
      #lp-pom-button-13 {
        display:block;
        border-style:none;
        behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
        border-radius:42px;
        left:0px;
        top:263px;
        z-index:4;
        width:244px;
        height:45px;
        position:absolute;
        background:rgba(0,186,242,1);
        -pie-background:rgba(0,186,242,1);
        box-shadow:none;
        text-shadow:none;
        color:#fff;
        border-width:undefinedpx;
        border-color:#undefined;
        font-size:16px;
        line-height:19px;
        font-weight:400;
        font-family:Montserrat;
        font-style:normal;
        text-align:center;
        background-repeat:no-repeat;
      }
      #lp-pom-block-15 {
        display:block;
        background:rgba(229,229,229,1);
        -pie-background:rgba(229,229,229,1);
        border-style:none;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:0px;
        behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
        border-radius:0px;
        width:100%;
        height:100px;
        position:relative;
      }
      #lp-pom-text-52 {
        display:block;
        background:rgba(255,255,255,0);
        -pie-background:rgba(255,255,255,0);
        border-style:none;
        behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
        border-radius:0px;
        left:24px;
        top:1046px;
        z-index:8;
        width:271px;
        height:32px;
        position:absolute;
      }
      #lp-pom-block-18 {
        display:block;
        background:rgba(255,255,255,1);
        -pie-background:rgba(255,255,255,1);
        border-style:none;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:0px;
        behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
        border-radius:0px;
        width:100%;
        height:1044px;
        position:relative;
      }
      #lp-pom-text-48 {
        display:block;
        background:rgba(255,255,255,0);
        -pie-background:rgba(255,255,255,0);
        border-style:none;
        behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
        border-radius:0px;
        left:63px;
        top:1347px;
        z-index:7;
        width:195px;
        height:110px;
        position:absolute;
      }
      #lp-pom-text-50 {
        display:block;
        background:rgba(255,255,255,0);
        -pie-background:rgba(255,255,255,0);
        border-style:none;
        behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
        border-radius:0px;
        left:63px;
        top:1693px;
        z-index:6;
        width:195px;
        height:154px;
        position:absolute;
      }
      #lp-pom-text-51 {
        display:block;
        background:rgba(255,255,255,0);
        -pie-background:rgba(255,255,255,0);
        border-style:none;
        behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
        border-radius:0px;
        left:81px;
        top:2030px;
        z-index:1;
        width:195px;
        height:66px;
        position:absolute;
      }
      #lp-pom-image-122 {
        display:block;
        background:rgba(255,255,255,0);
        -pie-background:rgba(255,255,255,0);
        left:83px;
        top:1524px;
        z-index:11;
        position:absolute;
      }
      #lp-pom-image-123 {
        display:none;
        background:rgba(255,255,255,0);
        -pie-background:rgba(255,255,255,0);
        left:718px;
        top:1205px;
        z-index:12;
        position:absolute;
      }
      #lp-pom-image-124 {
        display:block;
        background:rgba(255,255,255,0);
        -pie-background:rgba(255,255,255,0);
        left:81px;
        top:1189px;
        z-index:13;
        position:absolute;
      }
      #lp-pom-image-126 {
        display:block;
        background:rgba(255,255,255,0);
        -pie-background:rgba(255,255,255,0);
        left:97px;
        top:1874px;
        z-index:14;
        position:absolute;
      }
      #lp-pom-text-127 {
        display:block;
        background:rgba(255,255,255,0);
        -pie-background:rgba(255,255,255,0);
        border-style:none;
        behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
        border-radius:0px;
        left:0px;
        top:2106.3690032958984px;
        z-index:15;
        width:316px;
        height:44px;
        position:absolute;
      }
      body { color:#000; }
      a {
        color:#0000ff;
        text-decoration:none;
      }
      #lp-pom-root .lp-positioned-content {
        top:0px;
        width:320px;
        margin-left:-160px;
      }
      #lp-pom-block-8 .lp-pom-block-content {
        margin-left:auto;
        margin-right:auto;
        width:320px;
        height:1007px;
      }
      #container_industry {
        position:absolute;
        top:0px;
        left:0px;
        width:244px;
        height:56px;
      }
      .lp-pom-form-field .ub-input-item.single.form_elem_industry {
        position:absolute;
        top:22px;
        left:0px;
        width:244px;
        height:34px;
      }
      #label_industry {
        position:absolute;
        top:0px;
        left:0px;
        width:244px;
        height:18px;
      }
      #container_education {
        position:absolute;
        top:71px;
        left:0px;
        width:244px;
        height:56px;
      }
      .lp-pom-form-field .ub-input-item.single.form_elem_education {
        position:absolute;
        top:22px;
        left:0px;
        width:244px;
        height:34px;
      }
      #label_education {
        position:absolute;
        top:0px;
        left:0px;
        width:244px;
        height:18px;
      }
      #container_email {
        position:absolute;
        top:142px;
        left:0px;
        width:244px;
        height:56px;
      }
      .lp-pom-form-field .ub-input-item.single.form_elem_email {
        position:absolute;
        top:22px;
        left:0px;
        width:244px;
        height:34px;
      }
      #label_email {
        position:absolute;
        top:0px;
        left:0px;
        width:244px;
        height:18px;
      }
      #lp-pom-button-13:hover {
        background:rgba(0,169,230,1);
        -pie-background:rgba(0,169,230,1);
        box-shadow:none;
        color:#fff;
      }
      #lp-pom-button-13:active {
        background:rgba(0,156,218,1);
        -pie-background:rgba(0,156,218,1);
        box-shadow:none;
        color:#fff;
      }
      #lp-pom-button-13 .label { margin-top:-10px; }
      #lp-pom-block-15 .lp-pom-block-content {
        margin-left:auto;
        margin-right:auto;
        width:320px;
        height:100px;
      }
      #lp-pom-block-18 .lp-pom-block-content {
        margin-left:auto;
        margin-right:auto;
        width:320px;
        height:1044px;
      }
      #lp-pom-image-122 .lp-pom-image-container {
        border-style:none;
        behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
        border-radius:0px;
        width:154px;
        height:153px;
      }
      #lp-pom-image-122 .lp-pom-image-container img {
        width:154px;
        height:153px;
      }
      #lp-pom-image-123 .lp-pom-image-container {
        border-style:none;
        behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
        border-radius:0px;
        width:153px;
        height:151px;
      }
      #lp-pom-image-123 .lp-pom-image-container img {
        width:153px;
        height:151px;
      }
      #lp-pom-image-124 .lp-pom-image-container {
        border-style:none;
        behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
        border-radius:0px;
        width:148px;
        height:148px;
      }
      #lp-pom-image-124 .lp-pom-image-container img {
        width:148px;
        height:148px;
      }
      #lp-pom-image-126 .lp-pom-image-container {
        border-style:none;
        behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
        border-radius:0px;
        width:153px;
        height:151px;
      }
      #lp-pom-image-126 .lp-pom-image-container img {
        width:153px;
        height:151px;
      }
      #lp-pom-root-color-overlay {
        position:absolute;
        background:none;
        top:0;
        width:100%;
        height:2151px;
        min-height:100%;
      }
      #lp-pom-block-8-color-overlay {
        position:absolute;
        background:rgba(255,255,255,0);
        -pie-background:rgba(255,255,255,0);
        behavior:url(//d9hhrg4mnvzow.cloudfront.net/PIE.htc);
        height:1007px;
        width:100%;
      }
      #lp-pom-box-14-color-overlay {
        position:absolute;
        background:none;
        height:505px;
        width:270px;
      }
      #lp-pom-block-15-color-overlay {
        position:absolute;
        background:none;
        height:100px;
        width:100%;
      }
      #lp-pom-block-18-color-overlay {
        position:absolute;
        background:none;
        height:1044px;
        width:100%;
      }
      #lp-pom-form-12 {
        display:block;
        left:13px;
        top:123px;
        z-index:3;
        width:244px;
        height:183px;
        position:absolute;
      }
      #lp-pom-form-12 .fields { margin:-7.5px; }
      #lp-pom-form-12 .lp-pom-form-field { position:absolute; }
      #lp-pom-form-12 .option { position:absolute; }
      #lp-pom-form-12 .optionsList { position:absolute; }
      #lp-pom-form-12 .lp-pom-form-field .single {
        height:34px;
        font-size:12px;
        line-height:12px;
        padding-left:10px;
        padding-right:10px;
        flex:1;
      }
      #lp-pom-form-12 .lp-pom-form-field select {
        height:33px;
        border-style:none;
      }
      #lp-pom-form-12 .lp-pom-form-field .form_elem_multi {
        padding-top:10px;
        padding-bottom:11px;
      }
      #lp-pom-form-12 .lp-pom-form-field .lp-form-label {
        font-family:Arial,sans-serif;
        font-weight:400;
        font-size:16px;
        line-height:18px;
        color:#5d5d5d;
        display:block;
        margin-bottom:4px;
        width:auto;
        margin-right:0px;
      }
      #lp-pom-form-12 .lp-pom-form-field .lp-form-label .label-style {
        font-weight:bolder;
        font-style:inherit;
      }
      #lp-pom-form-12 .lp-pom-form-field input[type=text] { border-style:none; }
      #lp-pom-form-12 .lp-pom-form-field textarea { border-style:none; }
      #lp-pom-form-12 .lp-pom-form-field .opt-label {
        font-family:Verdana,Geneva,sans-serif;
        font-weight:400;
        font-size:13px;
        color:#000;
        line-height:15px;
      }
      #lp-pom-form-12 .lp-pom-form-field .opt-label .label-style {
        font-weight:inherit;
        font-style:inherit;
      }
      #lp-pom-form-12 .lp-pom-form-field .text {
        background-color:#ffffff;
        color:#000;
        border-radius:20px;
        box-shadow:inset 0px 2px 3px #dddddd;
        -webkit-box-shadow:inset 0px 2px 3px #dddddd;
        -moz-box-shadow:inset 0px 2px 3px #dddddd;
      }
    }
  </style>
  <!-- lp:insertions start head -->
  <link href="//builder-assets.unbounce.com/published/page-defaults-bb36b9f.z.css" rel="stylesheet" media="screen" type="text/css" />

  <meta property='og:title' content='http://www.applyfor.me/'/>
  <link rel="stylesheet" media="screen" href="//builder-assets.unbounce.com/published/jquery.ubpoverlay-45e86c0.z.css" type="text/css" />
  <script>window.module = window.module || {};</script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  <script src="//builder-assets.unbounce.com/published/jquery.validate.min-3b750e1.z.js" type="text/javascript"></script>
  <script src="//builder-assets.unbounce.com/published/additional-methods-ca10b35.z.js" type="text/javascript"></script>
  <script src="//builder-assets.unbounce.com/published/jquery.ubpoverlay-d9900bb.z.js" type="text/javascript"></script>
  <script type="text/javascript" src="//d2xxq4ijfwetlm.cloudfront.net/m/lp-webapp/api/unbounce.js"></script>
  <script type="text/javascript">
      window.ub.page.id = "e9bef28d-6c7f-40bc-a60b-fc0cd1e5cb0e";
      window.ub.page.variantId = "a";
      window.ub.page.usedAs = "main";
      window.ub.page.name = "ApplyFor.Me";
      window.ub.page.url = "http://www.applyfor.me/";
      window.ub.page.dimensions = {"desktop":{"height":1254,"width":920},"mobile":{"height":2151,"width":320},"mobileMaxWidth":600};
  </script>
  <script type="text/javascript">
      var lp = lp || {};
      lp.jQuery = jQuery.noConflict( true );
  </script>

  <script src="//builder-assets.unbounce.com/modules/lp-block/public/main-90cd9cc.z.js" type="text/javascript"></script>
  <script src="//builder-assets.unbounce.com/published/matchMedia-ba7af92.z.js" type="text/javascript"></script>
  <script src="//builder-assets.unbounce.com/modules/lp-text/public/main-ab7c8d0.z.js" type="text/javascript"></script>
  <script src="//builder-assets.unbounce.com/modules/lp-form/public/main-5dd6c35.z.js" type="text/javascript"></script>
  <script src="//builder-assets.unbounce.com/modules/lp-button/public/main-2c7fa8b.z.js" type="text/javascript"></script>
  <script src="//builder-assets.unbounce.com/modules/lp-image/public/main-52d85db.z.js" type="text/javascript"></script>
  <script>
      window.module = window.module || {};
      window.module.lp = window.module.lp || {};
      window.module.lp.form = window.module.lp.form || {};
      window.module.lp.form.data = {"formContainerId":"lp-pom-form-12","errorContainerId":"lp-pom-form-12-errors","confirmAction":"modal","confirmData":{"url":"a-form_confirmation.html","size":{"desktop":{"height":320,"width":450},"mobile":{"height":266,"width":240}}},"validationRules":{"industry":{"required":true},"education":{"required":true,"phone":false},"email":{"required":true,"email":true}},"validationMessages":{"industry":{"required":"Industry is required"},"education":{"required":"Highest Level of Education is required"},"email":{"required":"Email is required"}},"formButtonId":"lp-pom-button-13","validationType":"north-american"};
  </script>
  <script>lp.jQuery().ready(function() {lp.jQuery("#lp-pom-button-13").bind("click tap touchstart", function(e) {e.preventDefault();e.stopPropagation();lp.jQuery("div.lp-pom-form form").submit();});});</script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
      lp = lp || {};
      lp.webFontLoad = {
          google: {
              families: ['Montserrat:700,500','Raleway:300,700,regular,italic']
          },
          active: function() {
              if(lp && lp.text && typeof lp.text.fixTextHeights === "function")  {
                  lp.text.runTextFixes(true)
              }
          }
      };
      window.WebFont.load(lp.webFontLoad);
  </script>
  <!--[if IE 7]>
  <script>
    (function() {
      var sheet = document.styleSheets[1];
      var rules = sheet.rules;
      var rule;
      var index = -1;
      for (var i=0, l=rules.length; i<l; i++){
        rule = rules[i];
        if (rule.selectorText.toLowerCase() == 'div.lp-pom-root .lp-pom-text span') {
          index = i;
          break;
        }
      }
      if (index > -1) {
        sheet.removeRule(index);
        sheet.addRule('div.lp-pom-root .lp-pom-text span', 'line-height:inherit');
      }
    })();
  </script>
  <![endif]-->

  <script src="//builder-assets.unbounce.com/published/ub-browser-fe2b354.z.js" type="text/javascript"></script>

  <!-- lp:insertions end head -->
  <script type='text/javascript'>
    /* globals lp, ga, $ */

    (function() {
        var EventTracker, lpScriptVersion;

        lpScriptVersion = '1.4.1';

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');;

        ga('create', 'UA-69262899-6', 'auto', {
            'siteSpeedSampleRate': 100
        });

        if ((window.ub.page.variantId != null) && window.ub.page.usedAs === "main") {
            ga('send', 'pageview', document.location.pathname + window.ub.page.variantId + window.location.search);
        } else {
            ga('send', 'pageview');
        }

        EventTracker = (function() {
            function EventTracker() {
                lp.jQuery(document).ready((function(_this) {
                    return function() {
                        return _this._addHandlers();
                    };
                })(this));
            }

            EventTracker.prototype._addHandlers = function() {
                lp.jQuery('.lp-pom-form .lp-pom-button').unbind('click tap touchstart').bind('click tap touchstart', (function(_this) {
                    return function(e) {
                        return _this._formHandler(e);
                    };
                })(this));
                lp.jQuery('.lp-pom-form form').unbind('keypress').keypress((function(_this) {
                    return function(e) {
                        if (e.which === 13 && e.target.nodeName.toLowerCase() !== 'textarea') {
                            return _this._formHandler(e);
                        }
                    };
                })(this));
                lp.jQuery('.lp-pom-button').not('.lp-pom-form .lp-pom-button').click((function(_this) {
                    return function(e) {
                        var $parentElm;
                        $parentElm = lp.jQuery(e.currentTarget);
                        return _this._linkHandler(e, $parentElm);
                    };
                })(this));
                lp.jQuery('.lp-pom-image a').click((function(_this) {
                    return function(e) {
                        var $parentElm;
                        $parentElm = lp.jQuery(e.currentTarget).closest('.lp-pom-image');
                        return _this._linkHandler(e, $parentElm);
                    };
                })(this));
                return lp.jQuery('.lp-pom-text a').click((function(_this) {
                    return function(e) {
                        var $parentElm;
                        $parentElm = lp.jQuery(e.currentTarget).closest('.lp-pom-text');
                        return _this._linkHandler(e, $parentElm);
                    };
                })(this));
            };

            EventTracker.prototype._isGaLoaded = function() {
                return !!window.ga && !!ga.create;
            };

            EventTracker.prototype._formHandler = function(event) {
                var $form, $formContainer, params;
                event.preventDefault();
                event.stopPropagation();
                $formContainer = lp.jQuery(event.currentTarget).closest('.lp-pom-form');
                $form = $formContainer.children('form');
                if ($form.valid()) {
                    if (!this._isGaLoaded()) {
                        return $form.submit();
                    }
                    params = lp.jQuery.extend({
                        category: 'Form',
                        action: 'Submit',
                        label: "#" + ($formContainer.attr('id'))
                    }, $formContainer.data('ubGAParams'));
                    this._logEvent(params);
                    return ga('send', 'event', params.category, params.action, params.label, {
                        hitCallback: function() {
                            return $form.submit();
                        }
                    });
                }
            };

            EventTracker.prototype._linkHandler = function(event, $parentElm) {
                var $element, browser, hasHandler, id, params, parentId, preventingDefault, target, uri;
                if (!this._isGaLoaded()) {
                    return;
                }
                $element = lp.jQuery(event.currentTarget);
                uri = $element.attr('href');
                id = $element.attr('id');
                target = $element.attr('target');
                browser = lp.jQuery.browser;
                parentId = $parentElm.attr('id');
                hasHandler = this._hasHandler(id || parentId);
                preventingDefault = !hasHandler && target !== '_blank';
                if (browser.msie === true && browser.version <= 8.0) {
                    preventingDefault = false;
                }
                if (preventingDefault) {
                    event.preventDefault();
                }
                params = lp.jQuery.extend({}, this._getEventParams(uri, parentId), $parentElm.data('ubGAParams'));
                this._logEvent(params);
                return ga('send', 'event', params.category, params.action, params.label, {
                    hitCallback: function() {
                        var _ref;
                        if (preventingDefault) {
                            if (uri.indexOf('#') === 0) {
                                return lp.jQuery('html, body').scrollTop((_ref = lp.jQuery(uri).offset()) != null ? _ref.top : void 0);
                            } else {
                                switch (target) {
                                    case '_top':
                                        return window.top.location.href = uri;
                                    case '_parent':
                                        return window.parent.location.href = uri;
                                    default:
                                        return window.location.href = uri;
                                }
                            }
                        }
                    }
                });
            };

            EventTracker.prototype._hasHandler = function(id) {
                var clickHandlers, handler, _i, _len, _ref, _ref1, _ref2, _ref3, _ref4;
                clickHandlers = [].concat(typeof $ === "function" ? (_ref = $('#' + id).data('events')) != null ? _ref.click : void 0 : void 0, typeof $ === "function" ? (_ref1 = $('#' + id + ' a').data('events')) != null ? _ref1.click : void 0 : void 0, (_ref2 = lp.jQuery('#' + id).data('events')) != null ? _ref2.click : void 0, (_ref3 = lp.jQuery('#' + id + ' a').data('events')) != null ? _ref3.click : void 0);
                for (_i = 0, _len = clickHandlers.length; _i < _len; _i++) {
                    handler = clickHandlers[_i];
                    if ((_ref4 = handler != null ? handler.namespace : void 0) === 'fb' || _ref4 === 'smoothScroll') {
                        return true;
                    }
                }
                return false;
            };

            EventTracker.prototype._getEventParams = function(uri, id) {
                var host, _ref;
                host = ((_ref = uri.split('/')) != null ? _ref[2] : void 0) || '';
                id = "#" + id;
                if (uri.indexOf('#') === 0) {
                    return {
                        category: 'In-Page',
                        action: uri,
                        label: id
                    };
                } else if (host.indexOf('facebook') > -1) {
                    return {
                        category: 'Social',
                        action: 'Facebook',
                        label: id
                    };
                } else if (host.indexOf('twitter') > -1) {
                    return {
                        category: 'Social',
                        action: 'Twitter',
                        label: id
                    };
                } else if (host.indexOf('linkedin') > -1) {
                    return {
                        category: 'Social',
                        action: 'Linkedin',
                        label: id
                    };
                } else if (host.indexOf('plus.google.com') > -1) {
                    return {
                        category: 'Social',
                        action: 'Google+',
                        label: id
                    };
                } else if (uri.indexOf('mailto:') > -1) {
                    return {
                        category: 'Email',
                        action: uri.replace('mailto:', ''),
                        label: id
                    };
                } else if (uri.indexOf('/tel/') > -1) {
                    return {
                        category: 'Phone',
                        action: uri.split('/tel/')[1],
                        label: id
                    };
                } else if (uri.indexOf('/rel/') > -1) {
                    return {
                        category: 'Lightbox',
                        action: 'Lightbox',
                        label: id
                    };
                } else if (/\.(pdf|doc|docx|csv)/.test(uri)) {
                    return {
                        category: 'Download',
                        action: this._cleanUri(uri),
                        label: id
                    };
                } else {
                    return {
                        category: 'Outbound',
                        action: this._cleanUri(uri),
                        label: id
                    };
                }
            };

            EventTracker.prototype._cleanUri = function(uri) {
                return uri.replace(/clk[n,g]\//, '').replace('/', '://');
            };

            EventTracker.prototype._logEvent = function(params) {
                return typeof console !== "undefined" && console !== null ? typeof console.log === "function" ? console.log("Sending event:\n Category: " + params.category + "\n Action: " + params.action + "\n Label: " + params.label) : void 0 : void 0;
            };

            EventTracker.prototype.trackAll = function() {
                return void 0;
            };


          /*
           * Public API
           * trackOne: allows the user to override Google Analytics event params
           *   (category, action, label) for a given element (using the given selector)
           */

            EventTracker.prototype.trackOne = function(selector, category, action, label) {
                return lp.jQuery(selector).data('ubGAParams', {
                    category: category,
                    action: action,
                    label: label
                });
            };

            return EventTracker;

        })();

        window.eventTracker = new EventTracker();

    }).call(this);
  </script>
</head>
<body class="lp-pom-body ">
<!-- lp:insertions start body:before -->
<!-- lp:insertions end body:before -->

<div class="lp-element lp-pom-root" id="lp-pom-root">
  <div id="lp-pom-root-color-overlay"></div>
  <div class="lp-positioned-content">
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-11">
      <p style="line-height: 58px; text-align: center;">
        <strong><span style="font-family: Montserrat; color: rgb(255, 255, 255); font-size: 36px; font-weight: 700; font-style: normal;">APPLY TO ANY JOB WITHOUT FILLING OUT APPLICATIONS - NO MORE BORING FORMS</span><span style="font-family: Montserrat; color: rgb(255, 255, 255); font-size: 48px; font-weight: 700; font-style: normal;"><br></span></strong>
      </p>
    </div>
    <div class="lp-element lp-pom-box" id="lp-pom-box-14">
      <div id="lp-pom-box-14-color-overlay"></div>
      <div class="lp-element lp-pom-form has-axis" id="lp-pom-form-12">
        <form action="/ApplyForMe" method="POST">
          <input type="hidden" name="pageId" value="e9bef28d-6c7f-40bc-a60b-fc0cd1e5cb0e"><input type="hidden" name="pageVariant" value="a">
          <div class="fields">
            <div class="lp-pom-form-field single-line-text" id="container_industry">
              <label class="main lp-form-label" for="industry" id="label_industry"><span class="label-style">Industry&nbsp;*</span></label><input type="text" id="industry" name="industry" placeholder="" class="ub-input-item single text form_elem_industry">
            </div>
            <div class="lp-pom-form-field single-line-text" id="container_education">
              <label class="main lp-form-label" for="education" id="label_education"><span class="label-style">Highest Level of Education&nbsp;*</span></label><input type="text" id="education" name="education" placeholder="" class="ub-input-item single text form_elem_education">
            </div>
            <div class="lp-pom-form-field email" id="container_email">
              <label class="main lp-form-label" for="email" id="label_email"><span class="label-style">Email&nbsp;*</span></label><input type="text" id="email" name="email" placeholder="" class="ub-input-item single text form_elem_email">
            </div>
          </div>
          <input type="text" id="ykvLtBosL3Uv0B74N9s69j9Nd6Ei47cz" name="ubafs-ykvLtBosL3Uv0B74N9s69j9Nd6Ei47cz" style="display:none !important;" >
        </form>
        <a class="lp-element lp-pom-button" id="lp-pom-button-13" href="#"><span class="label"><strong>I WANT TO KNOW MORE</strong></span></a>
      </div>
      <div class="lp-element lp-pom-text nlh" id="lp-pom-text-64">
        <p style="line-height: 26px;">
          <span style="font-family: Raleway; font-weight: 300; font-style: normal; font-size: 24px;">Receive More Information About ApplyFor.Me</span>
        </p>
      </div>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-48">
      <p style="text-align: center;">
        <span style="color: rgb(49, 50, 50);"><span style="font-size: 16px;">You send us your resume, basic information companies ask for, and the URLs of the jobs you want to apply for</span></span>
      </p>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-50">
      <p style="text-align: center;">
        <span style="color: rgb(0, 0, 0);"><span style="font-size: 16px;">We apply for you by hand to every job you send us with your information, even writing cover letters so you don't have to fill out redundant application forms<br></span></span>
      </p>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-51">
      <p style="text-align: center;">
        <span style="font-size: 16px; color: rgb(49, 50, 50);">You pay a fixed fee per link, and you get your dream job (hopefully)!</span>
      </p>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-52">
      <p style="text-align: center; line-height: 32px;">
        <span style="font-size: 36px; font-family: Montserrat; font-weight: 500; font-style: normal;"><strong>How It Works</strong></span>
      </p>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-121">
      <p style="text-align: center;">
        <span style="color: rgb(255, 255, 255); font-size: 28px; font-family: Raleway; font-weight: 700; font-style: normal;">ApplyFor.Me</span>
      </p>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-122">
      <div class="lp-pom-image-container" style="overflow: hidden;">
        <img src="//d9hhrg4mnvzow.cloudfront.net/www.applyfor.me/transparent.gif" alt="" data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/www.applyfor.me/3f04a4a4-paper-plane_03x03v03v03u000000.png" data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/www.applyfor.me/3f04a4a4-paper-plane_07u07q07q07o000000.png" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/www.applyfor.me/3f04a4a4-paper-plane_04c04a04a049000000.png" data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/www.applyfor.me/3f04a4a4-paper-plane_08o08k08k08i000000.png"></div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-123">
      <div class="lp-pom-image-container" style="overflow: hidden;">
        <img src="//d9hhrg4mnvzow.cloudfront.net/www.applyfor.me/transparent.gif" alt="" data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/www.applyfor.me/b558530c-checked_04a048049047000000.png" data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/www.applyfor.me/b558530c-checked_08k08g08i08e000000.png"></div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-124">
      <div class="lp-pom-image-container" style="overflow: hidden;">
        <img src="//d9hhrg4mnvzow.cloudfront.net/www.applyfor.me/transparent.gif" alt="" data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/www.applyfor.me/cc3d5e8e-link.png" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/www.applyfor.me/cc3d5e8e-link_03k03k03j03j000000.png"></div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-126">
      <div class="lp-pom-image-container" style="overflow: hidden;">
        <img src="//d9hhrg4mnvzow.cloudfront.net/www.applyfor.me/transparent.gif" alt="" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/www.applyfor.me/b558530c-checked_04a048049047000000.png" data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/www.applyfor.me/b558530c-checked_08k08g08i08e000000.png"></div>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-127">
      <p style="text-align: center;">
        <span style="color: rgb(0, 0, 0); font-family: Raleway; font-weight: 400; font-style: normal;"><em>Questions? Call (516) 610-0458 or fill out the form above</em></span>
      </p>
    </div>
  </div>
  <div class="lp-element lp-pom-block" id="lp-pom-block-8">
    <div id="lp-pom-block-8-color-overlay"></div>
    <div class="lp-pom-block-content"></div>
  </div>
  <div class="lp-element lp-pom-block" id="lp-pom-block-15">
    <div id="lp-pom-block-15-color-overlay"></div>
    <div class="lp-pom-block-content"></div>
  </div>
  <div class="lp-element lp-pom-block" id="lp-pom-block-18">
    <div id="lp-pom-block-18-color-overlay"></div>
    <div class="lp-pom-block-content"></div>
  </div>
</div>
<!-- lp:insertions start body:after -->
<div id="lp-pom-form-12-errors" class="lp-form-errors"><div class="content"><div class="error"><span class="error-msg">Fix the following errors:</span><div class="error-button"><span class="error-toggle-arrow"></span><span class="error-toggle">Hide</span></div></div><ul></ul></div></div>
<script type="text/javascript">
    function updateViewport() {
        var viewport = document.querySelector('meta[name="viewport"]');
        if (viewport && window.innerWidth > 600 && window.innerWidth < 1024) {
            var defaultDeviceWidth = window.innerWidth;
            var defaultPageWidth = document.getElementById('lp-pom-root').offsetWidth;
            var calculatedScale = (defaultDeviceWidth / defaultPageWidth);
            var viewportContent = 'initial-scale=' + calculatedScale + ', user-scalable=yes';
            if (defaultDeviceWidth >= defaultPageWidth) {
                viewportContent = 'initial-scale=1.0, ' + 'width=device-width, ' + 'user-scalable=yes';
            }
            viewport.content = viewportContent;
        }
    }
    lp.jQuery(document).ready(updateViewport);
    window.addEventListener('orientationchange', updateViewport);
</script>
<script type="text/javascript">// See README.md for documentation
    lp.jQuery().ready(function($) {
        $('input[name^=ubafs-]', 'form').remove();

        var info = JSON.stringify({
            date: new Date(),
            agent: navigator.userAgent,
            screen: {
                availWidth: screen.availWidth,
                availHeight: screen.availHeight,
                width: screen.width,
                height: screen.height
            },
            window: {
                innerWidth: window.innerWidth,
                innerHeight: window.innerHeight
            },
            hasPlugins: ('length' in navigator.plugins && navigator.plugins.length > 0)
        });

        var jevField = $('<input type="hidden" id="ubafs-jev" name="ubafs-jev">').val(info);
        $('form').append(jevField);
    });
</script>
<!-- lp:insertions end body:after -->

</body>

</html>